
:root{
    --app-size: 28em;
    --writing-size: 10pt;
    --writing-color: #000000;
    --body-padding: 1em;
    
    --main-back-color: rgba(243, 243, 243, 0.95);
    --button-back-color: rgba(243, 243, 243, 0.25);
    --default-button-padding: 0.5em;
    --sheet-back-color: #ffffff;
    --accent-color-1: rgba(112, 152, 245, 0.3);
    --menu-back-color: #ffffff; 

    --general-border: solid 1px #e8e8e8;
    --section-border: double 8px #e8e8e8;

    --hamburger-image-size: 32px;
    --sidebar-button-width: 88%;
    --sidebar-button-height: 80px;
    --sidebar-button-image-width: 34%;

    --submenu-width: 10em;

    --statement-margin: 1.5em;
    --account-type-image-width: 24px;

    --table-head-color: #618257;
    --header-writing-color: rgba(243, 243, 243, 0.95);
    --ledger-back-color-1: #ddfad4;
    --ledger-back-color-2: #9bc78d;
    --ledger-back-color-3: #F1F171;
    --ledger-writing-color-1: #232323;
    --ledger-writing-color-2: #f54f25;
    --ledger-writing-color-3: #b5a264;
    --ledger-border-color: #737373;
    --ledger-button-padding: 0;
    --ledger-button-image-size: 16px;
    --account-ledger-height: 270px;

    --control-button-width: 7em;
    --control-button-height: 3em;
    --control-button-spacing: 1em;
}



@font-face{
    src: url("times.ttf");
}


*{
    font-family: "Times New Roman";
    font-size: var(--writing-size);
}


body{
    background-image: url(../images/wood.jpg);
    background-size: cover;
    padding: var(--body-padding);
}


button{
    font-size: var(--writing-size);
    border: var(--general-border);
    background-color: var(--button-back-color);
    padding: var(--default-button-padding);
}


button:hover{
    background-color: var(--accent-color-1);
}


ul{
    list-style-type: none;
}


.fundsApp{
    padding: 1.3em;
    background-color: var(--main-back-color);
    border-radius: 2%;
    min-height: var(--app-size);
}


.logo{
    float: left;
    width: 16px;
    margin-right: 1.5em;
}


.menuButton{
    float: left;
    border: none;
/*    background-color: var(--button-back-color);*/
    padding: 0.3em;
}


.dropdownMenu{
    display: inline-block;
    position: relative;
}


.menu{
    display: none;
    position: absolute;
    top: 1.2em;
    background-color: var(--menu-back-color);
    padding-left: 1.2em;
    z-index: 5;
    width: var(--submenu-width);
}


.menu ul{
    list-style-type: none;
}


.submenu{
    position: relative;
    left: -4em;
    border: none;
    width: var(--submenu-width);
    text-align: left;
    background-color: var(--menu-back-color);
}


.menu ul li a{
    text-decoration: none;
    color: var(--writing-color);
}


.menu ul li a:hover{
    cursor: default;
    background-color: var(--accent-color-1);
}


.menu hr{
    position: relative;
    left: -4em;
    background-color: var(--menu-back-color);
    width: var(--submenu-width);
}


.dropdownMenu:hover .menu{
    display: block;
}


main{
    clear: both;
    width: 100%;
    padding: 0;
}


#hamburgerSection{
    width: 20%;
    float: left;
}


.hamburger{
    float: left;
    border-radius: 7.5%;
    border: var(--general-border);
}


.hamburger img{
    width: var(--hamburger-image-size);
    height: var(--hamburger-image-size);
}


#sidebar{
    margin-top: 2em;
    display: block;
}


#sidebar ul{
    list-style-type: none;
}


.sidebarButton{
    width: var(--sidebar-button-width);
    height: var(--sidebar-button-height);
    margin-bottom: 0.75em;
    border-radius: 7.5%;
    border: var(--general-border);
}


.sidebarButton img{
    width: var(--sidebar-button-image-width);
}


#mainContent{
    float: left;
    width: 75%;
    border-left: var(--section-border);
    border-top-left-radius: 1.5%;
    border-top-right-radius: 1.5%;
}


.tabs{
    margin-left: 1.5em;
}


.tabButton{
    margin-top: 1em;
    margin-bottom: 0;
    padding: 1% 0.75% 0 0.75%;
    border: var(--button-border);
    border-bottom: none;
    border-top-left-radius: 7.5%;
    border-top-right-radius: 7.5%;
}


.statements{
    display: none;
    height: var(--app-size);
    margin-left: var(--statement-margin);
    margin-right: var(--statement-margin);
    border-top: var(--general-border);
}


.statements aside{
    background-color: var(--sheet-back-color);
    margin: 1em;
    overflow-y: scroll;
    padding: 0.5em;
}


.statements aside img{
    width: var(--account-type-image-width);
}


#balanceSheet{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "assets liabilities"
        "assets equity";
}


#assets{
    grid-area: assets;
}


#liabilities{
    grid-area: liabilities;
}


#equity{
    grid-area: equity;
}


.statements p{
    margin: 0;
}


.accountingEquation{
    float: right;
    min-width: 75%;
    display: grid;
    grid-template-columns: 20% 5% 20% 5% 20%;
    grid-template-areas: "asset equal liability plus equity";
}


.accountingEquation section p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


.equationResult{
    background-color: var(--sheet-back-color);
    margin-left: 2em;
    text-align: center;
    width: 80%;
}


#totalAssets{
    grid-area: asset;
}


#totalLiabilities{
    grid-area: liability;
}


#totalEquity{
    grid-area: equity;
}


#plus{
    grid-area: plus;
}


#equals{
    grid-area: equal;
}


.filters{
    display: grid;
    grid-template-columns: 15% 15% 20% 10% 20% auto;
    grid-template-areas:
        "dateRadio dateSelect description filterControls filterControls extra"
        "num reconcile transfer amountRadio amountSelect extra";
}


.filters input[type=text], .revenueSplits input[type=text], .revenueSplits input[type=number]{
    max-width: 80%;
    margin-left: 2em;
}


#dateRadio{
    grid-area: dateRadio;
}


#dateSelect{
    grid-area: dateSelect;
}


#numberFilter{
    grid-area: num;
}


#descriptionFilter{
    grid-area: description;
}


#transferFilter{
    grid-area: transfer;
}


#reconcileFilter{
    grid-area: reconcile;
}


#amountRadio{
    text-align: right;
    grid-area: amountRadio;
}


#amountSelect{
    grid-area: amountSelect;
}


#amountSelect input[type=number]{
    position: relative;
    top: 2.7em;
    left: -2.1em;
    padding-left: 0;
}


#filterControls{
    grid-area: filterControls;
}


.splitsWrapper{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "selection splits";
}


#revenueSelection{
    grid-area: selection;
}


#revenueSplits{
    grid-area: splits;
}


.savedSplits{
    clear: right;
    padding-top: 2em;
}


#availableAccounts, #savedSplits, #splits{
    overflow: scroll;
}


#availableAccounts{
    max-height: 9em;
}


#savedSplits{
    max-height: 5em;
}


.splitControls{
    margin-top: 0;
}


#availableAccounts li, #savedSplits li, #split li{
    background-color: #ffffff;
    margin-left: 2em;
}


.listLabel{
    margin-left: 0.8em;
}


#splitLabels ul{
    float: left;
}


.split{
    clear: left;
}


#split{
    max-height: 18em;
    overflow: scroll;
}


.splitControls{
    float: right;
}


.bookDetails{
    background-color: var(--main-back-color);
}


#generalDetails{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
        "name date"
        "brief brief";
}


#generalDetails input{
    max-width: 80%;
    margin-left: 2em;
}


#nameDetails{
    grid-area: name;
}


#dateDetails{
    grid-area: date;
}


#briefDetails{
    grid-area: brief;
}


#nameInput{
    width: 100%;
}


#dateInput{

}


#briefInput{
    width: 90%;
}


#notesInput{
    margin: 1.4em;
    min-width: 90%;
    height: 15em;
}


.ledger{
    overflow-y: scroll;
}


.ledger table{
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
}


.ledger tbody tr:nth-child(even){
    background: var(--ledger-back-color-2);
}


.ledger tbody tr:nth-child(odd){
    background: var(--ledger-back-color-1);
}


#accountLedgerSection{
    max-height: var(--account-ledger-height);
}


#accountLedger img{
    width: var(--ledger-button-image-size);
}


.ledgerInputButton{
    padding: var(--ledger-button-padding);
}


.ledger td{
    padding: 0;
    border: 1px solid var(--ledger-border-color);
}


#editTransationTable, #inputTransactionTable{
    overflow: hidden;
    background-color: var(--ledger-back-color-3);
}


#inputTransactionTable img{
    width: 12px;
}


#editTransactionTable tbody td, #inputTransactionTable tbody td{
    background-color: var(--ledger-back-color-3);
}


.ledger input, .ledger select{
    color: var(--ledger-writing-color-3);
/*    accent-color: var(--ledger-back-color-3);*/
    background-color: var(--ledger-back-color-3);
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}


.ledger input[type=checkbox]{
    appearance: none;
}


.checkbutton{
    background-color: var(--ledger-back-color-3);
    width: calc(var(--writing-size) * 1.3);
    height: calc(var(--writing-size) * 1.3);
    margin: 0.1em;
    padding: 0.1em;
    color: var(--ledger-writing-color-3);
    border-color: var(--ledger-writing-color-3);
}




#editTransfer{
    color: var(--ledger-writing-color-2);
}


#editTransactionButtons, #editDetailsButtons{
    float: right;
    padding: 0;
    margin: 0;
}


.finish, .cancel{
    background-color: var(--main-back-color);
    border-radius: 7.5%;
    border: var(--general-border);
    width: var(--control-button-width);
    height: var(--control-button-height);
    margin: var(--control-button-spacing);
}


.ledgerTableHeader{
    background-color: var(--table-head-color);
    border: 1px solid #232323;
    color: var(--header-writing-color);
    text-align: center;
}


.ledgerAmountColumn{
    text-align: right;
}


.accountOptionLabel{
    color: var(--ledger-writing-color-2);
}

/******************************************************/
.ledgerComboBox{
    display: inline-block;
    position: relative;
}

.ledgerComboBoxLabel{
    background-color: var(--ledger-back-color-3);
    color: var(--ledger-writing-color-3);
}


.ledgerComboBoxOptions{
    display: none;
    position: absolute;
    color: var(--ledger-writing-color-3);
    background-color: var(--ledger-back-color-3);
    padding-left: 1.2em;
    width: 12em;
    z-index: 5;
}


.ledgerComboBoxOptions li:hover, .ledgerComboBoxOptions input[type=radio]:checked ~ label{
    background-color: var(--accent-color-1);
}

.ledgerComboBoxOptions input[type=radio]{
    opacity: 0;
}

/********************************************/


.statusbar{
    clear: both;
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-areas: "left middle right";
    font-size: 0.67em;
    padding-top: 0.5em;
    border-top: double 3px #e8e8e8;
}


.statusbar p{
    padding: 0;
    margin: 0;
}


#leftStatus{
    grid-area: left;
}


#middleStatus{
    grid-area: middle;
    text-align: center;
}


#rightStatus{
    grid-area: right;
    text-align: right;
}





